.footer {

    @include respond(tab-v) {
        height: 6rem;
        font-size: 2rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1080px;
    height: 3rem;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(66, 64, 64);
    box-shadow: 0 0 20px -10px rgb(66, 118, 131);
}